@import "custom-color.css";


/* Blocks */
#greeting {
    margin: auto;
    padding-top: 80px;
    text-align: center;
}

.time {
    font-size: 11rem;
    display: inline;
}

#greeting span {
    font-size: 2rem;
    margin-left: 15px;
    display: none;

}

/* Elements */
.greeting__text {
    width: 100%;
    font-size: 3rem;
    margin: 0.1em 0;
}


#greeting__input {
    width: 600px;
    height: 50px;
    margin: 15px;
    padding: 0 10px;
    font-size: 1.7rem;
    border-bottom: solid 1px var(--white-color);
}

#greeting__input:focus {
    outline: none;
}


/* Modifiers */

.input_custom {
    background: none;
    border: none;
    color: var(--white-color);
}