/*Blocks*/
#teamInfo {
	background: black;
	opacity: 0.95;
}

/*Elements*/
.teamInfo__title {
	font-size: var(--fz-teamTitle);
	padding: 0.5em 0;
	text-align: center;
}

.teamInfo__title,
.teamInfo__team,
.teamInfo__voyage,
.teamInfo__stack {
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: flex-start;
  width:100%;
}

.teamInfo__team,
.teamInfo__voyage,
.teamInfo__stack {
	padding: var(--pd-team);
}

.teamInfo__members{
	display: flex;
	flex-wrap: wrap;
}

.teamInfo__member {
	padding: 0.5em 1em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.member__icon {
	max-width: 4rem;
	display: block;
	height: auto;
	border-radius: 50%;
	margin-right: 0.5em;
}

/*Modifier*/
.teamInfo__header {
	font-size: var(--fz-teamHeader);
}

.teamInfo__mute {
	font-size: var(--fz-teamMute);
	color: grey;
}

.team__link {
	color: orange;
	font-size: var(--fz-teamLink);
}